:root {
    --font-monts:'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-Kaushan: 'Kaushan Script', cursive;
    --bold: 700;
    --regular: 400;
    --light: 300;
}

html { 
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* outline: 2px solid red; */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-roboto);
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}


    /* NAVIGATIN-MENU  */

.page-header {
    padding: 26px 0;
    margin: 0 0 96px;
}
.navigation {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    font-size: 30px;
    color: #95e1d3;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
} 

.menu {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.menu-item-link {
    font-family: var(--font-monts);
    color: #95e1d3;
}

.menu li:not(:last-child) {
    margin-right: 56px;
}

.menu-item-link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f38181;
    margin: 12px auto 0;
    transition: all 1s linear;
    opacity: 0;
    visibility: hidden;
}

.menu-item-link:hover::after,
.menu-item-link:focus::after {
    opacity: 1;
    visibility: visible;
}

.menu li:hover .menu-item-link,
.menu li:focus .menu-item-link {
    display: block;
    content: "";
    color: #f38181;
    transition: all 1s linear;
}

    /* SERVICE-SECTION */

.section-title { 
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-monts);
    font-size: 30px;
    font-weight: var(--bold);
}

.section-title-new-line {
    display: block;
    text-align: center;
    font-family: var(--font-Kaushan);
    font-weight: var(--regular);
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: none;
}

h2::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 12px auto 0;
}