:root {
    --font-monts:'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-Kaushan: 'Kaushan Script', cursive;
    --bold: 700;
    --regular: 400;
    --light: 300;
    --gradient: linear-gradient(to top , rgba(252,227,138, 0.9) 0%, rgb(243,129,129, 0.9) 100%);
}

html { 
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* outline: 2px solid red; */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-roboto);
    line-height: 1.2;
    color: #333333;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

    /* NAVIGATIN-MENU  */

.page-header {
    padding: 26px 0;
    margin: 0 0 96px;
}
.navigation {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    font-size: 30px;
    color: #95e1d3;
    font-family: var(--font-monts);
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
} 

.menu {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.menu-item-link {
    font-family: var(--font-monts);
    color: #95e1d3;
}

.menu li:not(:last-child) {
    margin-right: 56px;
}

.menu-item-link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f38181;
    margin: 12px auto 0;
    transition: all 200ms linear;
    opacity: 0;
    visibility: hidden;
}

.menu-item-link:hover::after,
.menu-item-link:focus::after {
    opacity: 1;
    visibility: visible;
}

.menu li:hover .menu-item-link,
.menu li:focus .menu-item-link {
    display: block;
    content: "";
    color: #f38181;
    transition: all 200ms linear;
}

    /* SERVICE-SECTION */

.section-team {
    padding-bottom: 86px;
}

.section-title { 
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-monts);
    font-size: 30px;
    font-weight: var(--bold);
    color: #333333;
    margin-bottom: 64px;
}

.section-title-new-line {
    display: block;
    text-align: center;
    font-family: var(--font-Kaushan);
    font-weight: var(--regular);
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 20px;
    text-transform: none;
}

h2::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 12px auto 0;
}

.service-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.service-list li {
    flex-basis: calc((100% - 40px)/3);
    padding: 0px 0 0 80px;
    background-repeat: no-repeat;
    background-position: top left;
    background-position-x: 22px;
    border: none;
    width: 80px;
    height: 80px;
}

.service-list li:nth-child(-n+3) {
    margin-bottom: 100px;
}

.service-list-item-title {
    font-family: var(--font-monts);
    font-weight: var(--regular);
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.service-list-item-description {
    font-family: var(--font-roboto);
    font-weight: var(--regular);
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.clock {
    background-image: url(../image/icons/icon-clock.png);
}

.web-design {
    background-image: url(../image/icons/icon-web-design.png);
}

.creativity {
    background-image: url(../image/icons/icon-creativity.png);
}

.seo {
    background-image: url(../image/icons/icon-seo.png);
}

.css-html {
    background-image: url(../image/icons/icon-css-html.png);
}

.digital {
    background-image: url(../image/icons/icon-digital.png);
}

     /* TEAM SECTION */

.team-description { 
    display: block;
    text-align: center;
    max-width: 945px;
    margin: 0 auto;
    font-family: var(--font-roboto);
    font-weight: var(--regular);
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    margin-bottom: 94px;
}

.our-team-members {
    display: flex;
    justify-content: space-between;
}

.team-member {
    width: calc((100% - 64px)/3);
    text-align: center;
}

.team-member-image {
    position: relative;
    transition: all 200ms ease;
}

.team-member:hover .overlay,
.team-member:focus .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    background-clip: padding-box;
    border: none;
    opacity: 0;
    visibility: hidden;
}

.team-member-image {
    margin-bottom: 30px;
}

.team-member:hover .team-member-image,
.team-member:focus .team-member-image {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;
}

.social-list {
    display: flex;
}

.social-list a{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    transition: all 200ms ease;
}

.social-list-link:not(:last-child) {
    margin-right: 1px;
}

.social-list-link a:hover,
.social-list-link a:focus {
    background-color: #95e1d3;
}

.social-link-facebook { 
    background-image: url(../image/icons/icon-facebook.png);
}

.social-link-twitter {
    background-image: url(../image/icons/icon-tweet.png);
}

.social-link-p {
    background-image: url(../image/icons/icon-p.png);
}

.social-link-instagram {
    background-image: url(../image/icons/icon-instagram.png);
}

.our-team-members h4 {
    margin-bottom: 14px;
    font-family: var(--font-monts);
    font-weight: var(--regular);
    text-transform: uppercase;
}

.our-team-members p {
    font-size: 15px;
    line-height: 24px;
    font-weight: var(--light);
    color: #999999;
    font-style: italic;
}

    /* FOOTER */

.footer { 
    padding-bottom: 12px;
}

.footer-info::before {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
    margin-bottom: 10px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    font-family: var(--font-monts);
    font-size: 14px;
    font-weight: var(--regular);
}

.designer-page {
    color: #f38181;
}

    /* SUBSCRIBE-BUTTON */

.subscribe {
    display: flex;
}

input{
    font-size: 15px;
    font-family: var(--font-roboto);
    line-height: 24px;
    text-align: left;     
    padding: 0 12px;
    border: none;
    border: 1px solid #e7e7e7;
    font-weight: var(--light);
    font-style: italic;
}

::placeholder {
    color: #cccccc;
}

.subscribe-btn {
    font-family: var(--font-monts);
    font-weight: var(--bold);
    border: none;
    padding: 12px 44px;
    background-color: #95e1d3;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

