/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  /* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts//montserrat/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts//montserrat/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --main-font: 'Montserrat';
    --second-font: 'Roboto';
    --main-color: #ffffff;
    --second-color: #333333;
}

html { 
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* outline: 2px solid red; */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--main-color);
    font-family:var(--main-font);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    min-width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0),
}

    /* NAVIGATIN-MENU  */

.menu-header {
    position: absolute;
    padding-top: 20px;
    width: 100%;
}

.hero {
    background-image: url(../image/background/mobile-background.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    position: relative;
    padding: 0 15px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    top: 25%;
    transform: translateY(-50%);
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 133px;
}

.sign-up {
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 700;
    text-align: center;    
    border: 2px solid #ffffff;
    width: 92px;
    height: 36px;
    border-radius: 18px;
    background-color: transparent;
    cursor: pointer;
}

.log-in  {
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 700;
    text-align: center;    
    border: none;
    width: 94px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}

.logo { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 6.481%;
}

.moto {
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: -0.35px;
    margin-bottom: 22px;
}

.moto-description {
    font-family: var(--second-font);
    color: var(--main-color);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 6.291%;
    padding: 0 30px;
}

.head-find-btn {
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--main-color);   
    border-radius: 20px;
    background-color: #ff4e50;
    border: none;
    width: 282px;
    height: 42px;
    padding: 14px 38px;
    cursor: pointer;
}

.head-find-btn:hover,
.head-find-btn:focus  {
    background-color: #ffffff;
    color:#ff4e50;
}

    /* SECTION_PARTNER */

.section-partners {
    padding: 72px 0;
    text-align: center;
}

.section-partners-title { 
    font-size: 22px;
    color: var(--second-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.section-partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 22px;
}

.section-partners-list-item {
    width: 220px;
    margin: 0 auto 22px;
}

.section-partners-list-item:last-child {
    margin-bottom: 0px;
}

.partner-image-wrapper {
    position: relative;
    width: 122px;
    margin: 0 auto 22px;
}

.partner-image {
    margin: 0 auto;
    margin-bottom: 22px;
    border-radius: 50%;
}

.partner-image-wrapper::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%, 60%);
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-tv::after {
    background-image: url(../image/icons/icon-tv.png);
    background-color: #ff4e50;
}

.icon-chemical::after {
    background-image: url(../image/icons/icon-chemical.png);
    background-color: #ffa507;
}

.icon-cup::after {
    background-image: url(../image/icons/icon-cup.png);
    background-color: #1cd7ad;
}

.icon-airplane::after {
    background-image: url(../image/icons/icon-airplane.png);
    background-color: #4e73db;
}

.partner {
    color: var(--second-color);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.partner-description{
    font-family: var(--second-font);
    color: #666666;
    font-weight: 300;
}

.see-more-btn {
    font-family: var(--main-font);
    font-weight: 700;
    border: 2px solid #ff4e50;
    color: #ff4e50;
    background-color: var(--main-color);
    width: 284px;
    height: 44px;
    border-radius: 20px;
    cursor: pointer;
}

.see-more-btn:hover,
.see-more-btn:focus  {
    background-color: #ff4e50;
    color:#ffffff;
}

    /* "MEDIA-TABLET */

@media  (min-width: 768px) {
    .container {
    width: 660px;
    padding: 0;
    }

    .menu-header {
    padding: 44px 0 0;
    }

    .menu-navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    }

    .hero-content {
    margin: 0 auto;
    top: 30%;
    transform: translateY(-50%);
    }
    
    .hero {
    background-image: url(../image/background/tablet-background.jpg);
    }

    .logo {
    margin-bottom: 0;
    }

    .moto {
    font-size: 52px;
    margin-bottom: 40px;
    }

    .moto-description {
    font-size: 24px;
    margin-bottom: 34px;
    padding: 0;
    }

    .section-partners-title { 
    margin-bottom: 40px;
    }

    .partner-image {
    margin-bottom: 24px;
    }

    .section-partners-list-item {
    width: 235px;
    margin: 0 20px 60px 0;
    }

    .section-partners-list-item:nth-child(2n) {
    margin-bottom: 0;
    }

    .section-partners-list-item:nth-last-child(-n+2) {
    margin-right: 0;
    }

    .one { 
    order: 1; 
    }

    .two {
    order: 3;
    }

    .tree {
    order: 2;
    }

    .four {
    order: 4;
    }

    .section-partners-list  {
    margin-bottom: 40px;
    }

    .section-partners {
    padding: 72px 0 42px;
    }
}

@media (min-width: 1024px) {
    .container {
    width: 942px;
    padding: 0;
    }

    .logo {
    font-size: 20px;
    }

    .menu-header {
    padding: 54px 0;
    }

    .hero {
    background-image: url(../image/background/desktop-background.jpg);
    }

    .hero-content {
    top: 15%;
    }
    
    .moto-description {
    margin-bottom: 37px;
    }

    .section-partners-list-item {
    width: 220px;
    margin: 0;
    }

    .section-partners-list-item:not(:last-child) {
    margin-right: 20px;
    }

    .section-partners {
    padding: 72px 0 72px;
    }
}