html { 
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /*outline: 2px solid red;*/
}

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    color: #555252;
    font-weight: 400;
    }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

    /* NAVAIGATION */

.page-header {
    margin-bottom: 70px;
    padding: 38px 0;
}

.logo {
    display: inline-block;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 300;
    color: #555252;
    text-decoration: none;
}

.logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.menu {
    float: right;
    width: 470px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    margin-top: 7px;
}
.menu li {
    float: left;
}

.menu a {
    display: block;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 700;
    color: #0f0101;
    text-decoration: none;
}

.menu li:not(:last-child) {
    margin-right: 30px;
}

.menu a:hover,
.menu a:focus {
    color: #1abc9c;
}

     /* Featured products */

.section-container { 
        padding-bottom: 100px;
}

.section-title {
    font-size: 48px;
    font-family: "Roboto";
    color: #515151;
    text-transform: uppercase;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0;
    margin-bottom: 93px;
}

h2::after {
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    content: '';
    margin: 27px 473px 0;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.catalog-list li {
    float: left;
    background-color: #e9f0fd;
}

.catalog-list li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.catalog-list li:nth-child(-n+4) {
    margin-bottom: 30px;
}

.catalog-list img {
    display: block;
    height: 283px;
    background-position: center;
    background-size: cover;
}   

.catalog-list a {
    display: block;
}
.product-name-container {
    background-color: #323232;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
    width: 255px;
    height: 40px;
    font-family: "Roboto";
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}

.catalog-list h3 {
    font-size: 18px;
    font-weight: 900;
    float: left;
    margin: 0;
    padding-left: 14px;
    height: 40px;
    padding-top: 5px;
}

.catalog-list span {
    float: right;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.44);
    padding-top: 5px;
    text-align: center;
}

.catalog-list li:hover .product-name-container,
.catalog-list li:focus .product-name-container {
    background-color: #1abc9c;
}

    /* Latest news */

h4::after {
    display: block;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    content: '';
    margin-bottom: 24px;
    margin-top: 11px;
}

.latest-news-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.latest-news-list li {
    float: left;
    width: 350px;
}

.latest-news-list li:nth-last-child(n+2) {
    margin-right: 30px;
}

.latest-news-list img {
    margin-bottom: 14px;
    height: 260px;
    background-size: cover;
    background-position: center;
}

.latest-news-list h4 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 26px;
    letter-spacing: -0.02em;
}

.latest-news-list p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 14px;
    letter-spacing: -0.02em;
}

    /* Bottom  */

.read-more-button { 
    display: block;
    width: 160px;
    height: 51px;
    border-radius: 3px;
    background-color: #4ec6ab;
    font-size: 16px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #ffffff;
    text-align: center;
    cursor: pointer;    
    text-decoration: none;
    padding: 15px 38px 0;
}

.read-more-button:hover,
.read-more-button:focus {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}

